.frame {
	position: absolute;
	z-index: 0;
	width: 80%;
	left: 10%;
	height: 400px;
	overflow: hidden;
}

.winter-night, .summer-night {
	background-color: rgb(27, 34, 54);
}

.winter-overcast-day, .summer-overcast-day {
	background-color: rgb(79, 83, 94);
}

.winter-day, .summer-day {
	background-color: rgb(65, 106, 218);
}