.frame {
	position: absolute;
	z-index: 0;
	width: 80%;
	left: 10%;
	height: 400px;
	overflow: hidden;
}

.night {
	background-color: rgb(27, 34, 54);
}

.day {
	background-color: rgb(65, 106, 218);
}