.frame {
	position: absolute;
	z-index: 0;
	width: 80%;
	left: 10%;
	height: 400px;
	background-color: rgb(27, 34, 54);
	overflow: hidden;
}

.hill {
	width: 50%;
	height: 60%;
	border-radius: 50%;
	position: absolute;
}

.hill-1 {
	top: 55%;
	background-color: rgb(39, 49, 77); 
	left: 60%;
	z-index: 10;
}

.hill-2 {
	top: 55%;
	background-color: rgb(39, 49, 77); 
	left: 20%;
	z-index: 10;
}


.hill-3 {
	top: 62%;
	background-color: rgb(39, 49, 77); 
	left: -15%;
	z-index: 10;
}


.hill-4 {
	top: 65%;
	background-color: rgb(50, 60, 91); 
	left: -10%;
	z-index: 15;
}


.hill-5 {
	top: 65%;
	background-color: rgb(50, 60, 91); 
	left: 30%;
	z-index: 15;
}


.hill-6 {
	top: 70%;
	background-color: rgb(50, 60, 91); 
	left: 70%;
	z-index: 15;
}

.big-drop {
	position:absolute;
	background-color: rgb(84, 84, 250);
	height: 15px;
	width: 10px;
	border-radius: 50%;
	animation-name: drop;
	animation-iteration-count: infinite;
	animation-timing-function:linear;
	z-index: 200;
}

.big-drop:nth-of-type(1) {
	animation-duration: 1.4s;
	top: -100px;
	left: 100px;
}

.big-drop:nth-of-type(2) {
	animation-duration: 1.4s;
	animation-delay: 0.5s;
	top: -100px;
	left: 400px;
}

.big-drop:nth-of-type(3) {
	animation-duration: 0.9s;
	animation-delay: 0.5s;
	top: -100px;
	left: 150px;
}

.big-drop:nth-of-type(4) {
	animation-duration: 1.2s;
	animation-delay: 0.5s;
	top: -100px;
	left: 180px;
}

@keyframes drop {
	90% {
		transform: rotateZ(10deg) translateY(500px);
	}
	100% {
		transform: rotateZ(10deg) translateY(500px);
	}
}