.blocks {
	display: grid;
	margin: 10px 0px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 20px;
}

.daily-block {
	margin: 10px 0px;
	height: 100%;
	border-radius: 10px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	background-color: white;
}

.daily-block:hover {
	box-shadow: 4px 8px 15px 0 rgba(0,0,0,0.3);
}

.block-dark {
	background-color: #000;
	color: #fff;
}

.block-light {
	background-color: #fff;
	color: #000;
}

.daily-block-date {
	font-size: 28px;
	margin: 15px;
}

.daily-block-temperature {
	font-size: 25px;
}

.daily-block-1 {
	text-align: center;
	display: block;
	margin: auto;
}

.daily-block-2 {
	font-size: 16px;
	text-align: center;
	display: block;
	margin: 25px auto;
}

@media screen and (max-width: 1000px){
	.blocks {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.daily-block {
		height: 90%;
	}
}


@media screen and (max-width: 600px) {
	.blocks {
		grid-template-columns: 1fr 1fr;
	}
	.mini-block {
		height: 90%;
	}
}