.block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: 100%;
	height: 200px;
	padding-top: 10px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.block-dark {
	background-color: #000;
	color: #fff;
}

.main-block-light {
	/* background-color: #ffffff2d; */
	background-color: #fff;
	color: #000;
}

.cityName {
	font-size: 35px;
}

.temperature {
	font-size: 35px;
}

.humidity {
	margin: 8px 0px;
}

.weather {
	width: 100%;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	margin: 10px 0px;
}

.block-1 {
	margin-left: 50px;
	text-align: center;
	display: block;
	margin: auto;
}

.block-2 {
	font-size: 16px;
	display: block;
	margin: auto;
}

.block-3 {
	grid-row-start: 2;
  	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 4;
	font-size: 16px;
	display: block;
	margin: auto;
}

.sunrise-block {
	display: inline-block;
	font-size: 16px;
}

.sunset-block {
	display: inline-block;
	margin-left: 90px;
	font-size: 16px;
}

@media screen and (min-width: 700px){
	.block {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	.block {
		margin-top: 120px;
	}
}

@media screen and (max-width: 400px){
	.block {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		height: 260px;
		width: 85%;
		display: block;
		margin: auto;
		margin-top: 45px;
	}
	.block-2 {
		font-size: 15px;
		margin: auto;
		margin-bottom: 10px;
		text-align: center;
	}
	.block-3 {
		grid-row-start: 3;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 1;
	}
	.cityName {
		font-size: 32px;
	}
	.temperature {
		font-size: 32px;
	}
	.humidity {
		margin: 3px 0px;
	}
	.sunrise-block, .sunset-block {
		text-align: center;
		display: block;
		margin-left: 0px;
	}
}