.block {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	width: 100%;
	height: 200px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.block-dark {
	background-color: #000;
	color: #fff;
}

.main-block-light {
	/* background-color: #ffffff2d; */
	background-color: #fff;
	color: #000;
}

.cityName {
	font-size: 35px;
}

.temperature {
	font-size: 35px;
}

.humidity {
	margin: 8px 0px;
}

.block-1 {
	margin-left: 50px;
	text-align: center;
	display: block;
	margin: auto;
}

.block-2 {
	font-size: 16px;
	margin-left: 50px;
	display: block;
	margin: auto;
}


@media screen and (min-width: 700px){
	.block {
		display: none;
	}
}

@media screen and (max-width: 400px){
	.block {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		height: 200px;
	}
	.block-2 {
		font-size: 15px;
		margin-bottom: 10px;
	}
	.cityName {
		font-size: 28px;
	}
	.temperature {
		font-size: 28px;
	}
}