.frame {
	position: absolute;
	z-index: 0;
	width: 80%;
	left: 10%;
	height: 400px;
	background-color: rgb(65, 106, 218);
	overflow: hidden;
}

.morning {
	background-color: rgb(154, 167, 206);
}

.day{
	background-color: rgb(65, 106, 218);
}

.evening {
	background-color: rgb(104, 114, 142);
}

.overcast {
	background-color: rgb(79, 83, 94);
}

.night {
	background-color: rgb(27, 34, 54);
}