.time-block {
	position: absolute;
	right: 11%;
}

.time {
	position: relative;
	font-size: 24px;
	text-align: right;
	color: white;
	z-index: 1000;
	top: 10px;
}

.sunrise {
	position: relative;
	font-size: 18px;
	color: white;
	z-index: 1000;
	top: 18px;
}

.sunset {
	position: relative;
	font-size: 18px;
	color: white;
	z-index: 1000;
	top: 20px;
}

.city {
	position: absolute;
	font-size: 26px;
	color: white;
	z-index: 10000;
	top: 290px;
	width: 12em;
	overflow: hidden;
	text-align: center;
	left: 5.6em;
}

.currently-temperature {
	position: absolute;
	font-size: 24px;
	color: white;
	z-index: 10000;
	top: 330px;
	text-align: center;
	width: 5em;
	left: 10em;
}

.weather-1 {
	position: absolute;
	font-size: 20px;
	color: white;
	z-index: 10000;
	top: 360px;
	width: 12em;
	overflow: hidden;
	text-align: center;
	left: 8.7em;
}


.frame {
	position: absolute;
	z-index: 0;
	width: 80%;
	left: 10%;
	height: 400px;
	background-color: rgb(65, 106, 218);
	overflow: hidden;
}

.morning {
	background-color: rgb(154, 167, 206);
}

.day{
	background-color: rgb(65, 106, 218);
}

.evening {
	background-color: rgb(104, 114, 142);
}

.overcast {
	background-color: rgb(79, 83, 94);
}

.night {
	background-color: rgb(27, 34, 54);
}


@media screen and (max-width: 1200px){
	.city {
		left: 4em;
	}
	.currently-temperature {
		left: 8em;
	}
	.weather-1 {
		left: 6.5em;
	}
}

@media screen and (max-width: 1000px){
	.frame {
		left: 5%;
		width: 90%;
	}
	.city {
		left: 0.6em;
	}
	.currently-temperature {
		left: 4.6em;
	}
	.weather-1 {
		left: 2.5em;
	}
	.time-block {
		right: 7%;
	}
}

@media screen and (max-width: 700px){
	.frame {
		left: 0%;
		width: 100%;
		height: 350px;
	}
	.time-block {
		right: 1%;
	}
	.city, .currently-temperature {
		display: none;
	}
}

@media screen and (max-width: 600px){
	.sunrise, .sunset {
		display: none;
	}
}

@media screen and (max-width: 400px){
	.frame {
		left: 0%;
		width: 100%;
		height: 340px;
	}
	.time {
		right: 3%;
	}
	.sunrise {
		right: 3%;
	}
	.sunset {
		right: 3%;
	}
}