.content {
	position: absolute;
	top: 400px;
	left: 5%;
	width: 90%;
	height: 100%;
}

.content-light {
	background-color: #fff;
}

.content-dark {
	background-color: #000;
}

@media screen and (max-width: 700px){
	.content {
		top: 350px;
	}
}

@media screen and (max-width: 400px){
	.content {
		top: 300px;
	}
}