.blocks {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.mini-block {
	margin: 10px;
	height: 200px;
	border-radius: 10px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	background-color: white;
}

.mini-block:hover {
	box-shadow: 4px 8px 15px 0 rgba(0,0,0,0.3);
}

.block-dark {
	background-color: #000;
	color: #fff;
}

.block-light {
	background-color: #fff;
	color: #000;
}

.mini-block-date {
	font-size: 30px;
	margin: 15px;
}

.mini-block-temperature {
	font-size: 25px;
}

.mini-block-1 {
	text-align: center;
	display: block;
	margin: auto;
}

.mini-block-2 {
	font-size: 16px;
	text-align: center;
	display: block;
	margin: 25px auto;
}

.block-3 {
	font-size: 16px;
	display: block;
	margin: auto;
}