.big-drop {
	position:absolute;
	background-color: rgb(84, 84, 250);
	height: 15px;
	width: 10px;
	border-radius: 50%;
	animation-name: drop;
	animation-iteration-count: infinite;
	animation-timing-function:linear;
	z-index: 200;
}

.big-drop:nth-of-type(1) {
	animation-duration: 1.4s;
	top: -100px;
	left: 100px;
}

.big-drop:nth-of-type(2) {
	animation-duration: 1.4s;
	animation-delay: 0.5s;
	top: -100px;
	left: 400px;
}

.big-drop:nth-of-type(3) {
	animation-duration: 0.9s;
	animation-delay: 0.5s;
	top: -100px;
	left: 150px;
}

.big-drop:nth-of-type(4) {
	animation-duration: 1.2s;
	animation-delay: 0.5s;
	top: -100px;
	left: 180px;
}

@keyframes drop {
	90% {
		transform: rotateZ(10deg) translateY(500px);
	}
	100% {
		transform: rotateZ(10deg) translateY(500px);
	}
}