.sun {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 80px;
	left: 100px;
	background-color: rgb(248, 236, 168);
	box-shadow: 0 0 50px 0 rgb(248, 236, 168);
	border-radius: 100%;
	z-index: 5;
	animation-name: sun-rising;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes sun-rising {
	0% {
		transform: translateY(200px);
	}
}

@media screen and (max-width: 400px) {
	.sun {
		width: 60px;
		height: 60px;
		left: 40px;
	}
}