.blocks {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 20px;
}

.hourly-block {
	margin: 10px 0px;
	height: 100%;
	border-radius: 10px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	background-color: white;
}

.blocks .hourly-block:nth-child(1) {
	background-color: rgb(233, 255, 223);
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.2);
}


.hourly-block:hover {
	box-shadow: 4px 8px 15px 0 rgba(0,0,0,0.3);
}

.block-dark {
	background-color: #000;
	color: #fff;
}

.block-light {
	background-color: #fff;
	color: #000;
}

.hourly-block-date {
	font-size: 30px;
	margin: 15px;
}

.hourly-block-temperature {
	font-size: 25px;
}

.hourly-block-1 {
	text-align: center;
	display: block;
	margin: auto;
}

.hourly-block-2 {
	font-size: 16px;
	text-align: center;
	display: block;
	margin: 22px auto;
}

@media screen and (max-width: 1000px){
	.blocks {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.hourly-block {
		height: 90%;
	}
}


@media screen and (max-width: 600px) {
	.blocks {
		grid-template-columns: 1fr 1fr;
	}
	.mini-block {
		height: 90%;
	}
	.hourly-block-date {
		font-size: 25px;
		margin: 10px;
	}
	.hourly-block-temperature {
		font-size: 20px;
	}
	.hourly-block-2 {
		font-size: 14px;
		margin: 18px auto;
	}
}